<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Increase logging level for gRPC to TRACE -->
    <logger name="io.grpc" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
